.DataTable {
	overflow-x: auto;
	max-height: 620px;
}

@media (max-width: 991px) {
	.DataTable {
		overflow-y: scroll;
		max-height: 400px;
	}
}

@media (min-width: 992px) {
	.DataTable {
		overflow-y: auto;
	}
}
